<div class="container">
  <div class="row">

    <ul class="nav nav-tabs">
      <li role="presentation" >
        <%= link_to '餐廳', root_path %>
      </li>
      <li role="presentation">
        <%= link_to 'TOP10人氣餐廳', ranking_restaurants_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to '達人專頁', users_path %>
      </li>
    </ul>

  </div>
</div>


<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="page-header">
        <h1>達人專頁</h1>
      </div>
    </div>

    <% @users.each do |user| %>
      <div class="col-md-3 col-sm-4 col-xs-6 text-center">

        <%= link_to user_path(user) do %>
          <%= image_tag(user.file_location, width: 128, height: 128, class: "img-rounded") %>
          <h4><%= user.firstname %> <%= user.lastname %></h4>
        <% end %>

        <p><%= truncate(user.introself, length: 50) %></p>
        <% if current_user != user %>
          <% if current_user.following?(user) %>
            <%= button_to 'Unfollow', friendship_path(id: user.id), method: :delete, class: "btn btn-sm btn-default" %>
          <% else %>
            <%= button_to 'Follow', friendships_path(id: user.id), class: "btn btn-sm btn-default" %>
          <% end %>
        <% end %>

      </div>
    <% end %>

  </div>
</div>
