<div class="container">
  <div class="row">

    <h1>美食論壇</h1>

    <ul class="nav nav-pills">
      <li role="presentation">
        <%= link_to 'TOP10 Restaurants', ranking_restaurants_path %>
      </li>
      <li role="presentation">
        <%= link_to '達人專頁 ', users_path %>
      </li>
      <% @categories.each do |category| %>
        <li role="presentation">
          <%= link_to category_restaurants_path(category) do %>
            <%= category.name %> <!-- 預計加入category.count <span class="badge">42</span> -->
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>
</div>

<div class="container">
  <div class="row">

    <% @restaurants.each do |restaurant| %>
      <div class="col-sm-6 col-md-4">
        <%= image_tag restaurant.image, style: "height: 200px; width: 100%; display: block;" %>
        <div class="caption">
          <h3><%= restaurant.name %></h3>
          <p><%= restaurant.description %></p>
          <p>
            <%= link_to 'Show', restaurant_path(restaurant), class: "btn btn-primary" %>
            <%= render :partial => 'favorites', :locals => { :restaurant => restaurant } %>
          </p>
        </div>
      </div>
    <% end %>
    <div class="clearfix"></div>

    <div class="text-center">
      <%= paginate @restaurants %>
    </div>

  </div>
</div>
